## Different types of variables

In [3]:
x = 5%2
y = 4%2
print(x, y)

1 0

In [4]:
10/2

5.0

In [5]:
11//2

5

In [7]:
w = 24
type(w)

int

## Arithmetic Operators

In [9]:
q=5+4
e=12-9
r=18/3
t=5*7
u=2^5
print(q,e,r,t,u)

9 3 6.0 35 7

## Comments in Python

In [10]:
# This is a comment, you have to insert a # before you start typing your comment in order for it to become a comment

## F string, % operator, .format operator to print any statement. Definition of each type of formatted string

In [12]:
name = "Eric"
"Hello, %s." % name

'Hello, Eric.'

In [13]:
name = "Eric"
age = 74
"Hello, %s. You are %s." % (name, age)

'Hello, Eric. You are 74.'

In [14]:
"Hello, {}. You are {}.".format(name, age)

'Hello, Eric. You are 74.'

In [17]:
"Hello, {0}. You are {1}.".format(age, name) # The name and age will be flipped in this case

'Hello, 74. You are Eric.'

In [19]:
name = "Eric"
age = 74
f"Hello, {name}. You are {age}."

'Hello, Eric. You are 74.'

In [20]:
f"{2 * 37}"

'74'

## Decimal, floating point numbers formatting

In [21]:
# Before Formatting
x = 211911461911461819112146
y = 2**70
print(x / y)

179.4959901398329

In [22]:
# After Formatting
x = 211911461911461819112146
y = 2**70
z = x / y
print("%.2f" % z)

179.50

## String functions

In [33]:
statement = "Hello Adham"
print(statement[1], statement[5], statement[8], statement[2], statement[4])

e   h l o

In [36]:
s = "heLLo BuDdY"
s = s.capitalize()
print(s)

Hello buddy

In [37]:
s = "heLLo BuDdY"
s = s.lower()
print(s)

hello buddy

In [38]:
s = "heLLo BuDdY"
s = s.title()
print(s)

Hello Buddy

In [39]:
s = "heLLo BuDdY"
s = s.upper()
print(s)

HELLO BUDDY

## String comparison based on their ASCII value

In [41]:
c='p'
x=ord(c)
#it will give you the ASCII value stored in x
chr(x)
#it will return back the character

'p'

In [40]:
c = 'p'
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'p' is 112

## Getting Input from the User (Int, string, float)

In [45]:
val1 = int(input("Enter any number: "))
print("value of val1: ", val1)
print("type of val1: ", type(val1))

# reading a value, converting to float
# printing value and it's type

val2 = float(input("Enter any number: "))
print("value of val2: ", val2)
print("type of val2: ", type(val2))

val3 = input("Enter any value: ")
print("value of val3: ", val3)
print("type of val3: ", type(val3))

Enter any number: 32
value of val1:  32
type of val1:  <class 'int'>
Enter any number: 2.4
value of val2:  2.4
type of val2:  <class 'float'>
Enter any value: name
value of val3:  name
type of val3:  <class 'str'>

## Basic Descriptive Statistics

In [50]:
import statistics as stats
numbers = [23, 56, 123, 98, 56, 34, 9, 23, 57]
print("The mean of numbers is", stats.mean(numbers))
print("The median of numbers is", stats.median(numbers))
print("The mode of numbers is", stats.mode(numbers))
print("The standard deviation of numbers is", statistics.stdev(numbers))

The mean of numbers is 53.22222222222222
The median of numbers is 56
The mode of numbers is 23
The standard deviation of numbers is 37.17451337199243

## How many types of control structures, Form of controls, Definition of each control structure?

#### Sequential: when statements are executed one after another in order. You don't need to do anything more for this to happen.

#### Selection: used for decisions, branching - choosing between 2 or more alternative paths.

#### Repetition used for looping, i.e. repeating a piece of code multiple times in a row.

In [51]:
grade = 85
if (grade>=60):
    print("Passed")
else:
    print("Failed")

Passed

In [52]:
product = 3
while product <= 20:
    product = product * 2
    print(product)

6
12
24

In [54]:
age = int(input("What is the citizen's age?: ")) 
while age > 0:
    if age > 0 and age < 18:
        print("Minor")
    elif age > 18 and age < 65:
        print("Adult")
    elif age >= 65:
        print("Senior Citizen")
    age = int(input("What is the citizen's age?: " ))

What is the citizen's age?: 34
Adult
What is the citizen's age?: 14
Minor
What is the citizen's age?: 66
Senior Citizen
What is the citizen's age?: 0

In [55]:
#Break Statement
for val in "string":
    if val == "i":
        break
    print(val)

print("The end")

s
t
r
The end

In [ ]:
#Continue Statement
for val in "string":
    if val == "i":
        continue
    print(val)

print("The end")

## Define a function with return statement

In [56]:
s1 = int(input("Enter the first side of the triangle : "))
s2 = int(input("Enter the second side of the triangle : "))
s3 = int(input("Enter the third side of the triangle : "))
def calcArea():
    area = (s1)*(s2)*(s3)*0.5
    return area
def calcPerimeter():
    p = (s1 + s2 + s3)
    return p
print("The area of the triangle is approximately", calcArea(), "square units")
print("The perimeter of the triangle is", calcPerimeter(), "linear units")

Enter the first side of the triangle : 4
Enter the second side of the triangle : 8
Enter the third side of the triangle : 15
The area of the triangle is approximately 240.0 square units
The perimeter of the triangle is 27 linear units

## Write a function to find out

In [57]:
max(2, 5, 1)

5

In [59]:
min(7, 3, 10)

3

In [60]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((8, 2, 3, 1, 7)))

21

In [62]:
def mult(numbers):
    total = 1
    for x in numbers:
        total *= x
    return total
print(mult((8, 2, 3, 1, 7)))

336

In [63]:
def cal_average(num):
    sum_num = 0
    for t in num:
        sum_num = sum_num + t           

    avg = sum_num / len(num)
    return avg

print("The average is", cal_average([18,25,3,41,5]))

The average is 18.4

In [65]:
def swapPositions(list, pos1, pos2):
    first_ele = list.pop(pos1)  
    second_ele = list.pop(pos2-1)
    list.insert(pos1, second_ele) 
    list.insert(pos2, first_ele) 
    return list
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3
print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]

## Function with multiple parameters with Global and local scope examples .

In [66]:
#Global
x = "global"

def foo():
    print("x inside:", x)


foo()
print("x outside:", x)

x inside: global
x outside: global

In [69]:
#Local
def foo():
    y = "local"
    print(y)

foo()

local

In [70]:
#Global and Local
x = "global "

def foo():
    global x
    y = "local"
    x = x * 2
    print(x)
    print(y)

foo()

global global
local

In [71]:
x = 5

def foo():
    x = 10
    print("local x:", x)


foo()
print("global x:", x)

local x: 10
global x: 5

## List Function:

In [74]:
#Argument List
def my_sum(*args):
    result = 0
    # Iterating over the Python args tuple
    for x in args:
        result += x
    return result

print(my_sum(1, 2, 3))

6

In [78]:
#Slicing List
Lst = [50, 70, 30, 20, 90, 10, 50]
print(Lst[1:5])

[70, 30, 20, 90]

In [80]:
#Concatenate Lists
test_list3 = [1, 4, 5, 6, 5]
test_list4 = [3, 5, 7, 2, 5]
test_list3 = test_list3 + test_list4
print ("Concatenated list using + : " + str(test_list3))

Concatenated list using + : [1, 4, 5, 6, 5, 3, 5, 7, 2, 5]

In [82]:
#Sort list
cars = ['Ford', 'BMW', 'Volvo']
cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [83]:
#index list
animals = ['cat', 'dog', 'rabbit', 'horse']
index = animals.index('dog')
print(index)

1

In [84]:
#append list
currencies = ['Dollar', 'Euro', 'Pound']
currencies.append('Yen')
print(currencies)

['Dollar', 'Euro', 'Pound', 'Yen']

In [87]:
#extend list
prime_numbers = [2, 3, 5]
numbers = [1, 4]
numbers.extend(prime_numbers)
print(numbers)

[1, 4, 2, 3, 5]

In [88]:
#Clear list
prime_numbers = [2, 3, 5, 7, 9, 11]
prime_numbers.clear()
print(prime_numbers)

[]

In [90]:
#reverse list
prime_numbers = [2, 3, 5, 7]
prime_numbers.reverse()
print(prime_numbers)

[7, 5, 3, 2]

In [91]:
#copy list
prime_numbers = [2, 3, 5]
numbers = prime_numbers.copy()
print(numbers)

[2, 3, 5]

In [95]:
#del list

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# deleting the third item
del my_list[2]

# Output: [1, 2, 4, 5, 6, 7, 8, 9]
print(my_list)

# deleting items from 2nd to 4th
del my_list[1:4]

# Output: [1, 6, 7, 8, 9]
print(my_list)

# deleting all elements
del my_list[:]

# Output: []
print(my_list)

[1, 2, 4, 5, 6, 7, 8, 9]
[1, 6, 7, 8, 9]
[]

## Tuple Functions

In [96]:
#tuple unpacking
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [98]:
#tuple concatenate with list
my_list = [('Python', 'Guides'),('learning', 'sites')]
s = [' '.join(tup) for tup in my_list] 
print ("The tuple in list is : " +  str(s))

The tuple in list is : ['Python Guides', 'learning sites']

In [103]:
#List to tuple
list1 = [1, 2, 3, 4]
def convert(list1):
    return tuple(list1)
print(convert(list1))

TypeError: 'tuple' object is not callable

In [102]:
#Tuple to list
tuple = (1, 2, 3, 4)
def convert1(tuple):
    return list(tuple)
print(convert1(tuple))

TypeError: 'list' object is not callable

## Iterate through lists, tuple and find out numbers that are multiple of X and divisible by Y

In [100]:
name = [('sravan',7058,98.45),
        ('ojaswi',7059,90.67),
        ('bobby',7060,78.90),
        ('rohith',7081,67.89),
        ('gnanesh',7084,98.01)]

for x in name:
   
  for y in x:
    print(y)
       
    print()

sravan

7058

98.45

ojaswi

7059

90.67

bobby

7060

78.9

rohith

7081

67.89

gnanesh

7084

98.01

## Dictionary keys and values and how to access each of them

In [104]:
#update dictionary
marks = {'Physics':67, 'Maths':87}
internal_marks = {'Practical':48}
marks.update(internal_marks)
print(marks)

{'Physics': 67, 'Maths': 87, 'Practical': 48}

In [105]:
#delete dictionary
my_dict = {31: 'a', 21: 'b', 14: 'c'}
del my_dict[31]
print(my_dict)

{21: 'b', 14: 'c'}

In [106]:
#keys()
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()

print(x)

dict_keys(['brand', 'model', 'year'])

In [107]:
#value()
marks = {'Physics':67, 'Maths':87}
print(marks.values())

dict_values([67, 87])

In [108]:
#items()
marks = {'Physics':67, 'Maths':87}
print(marks.items())

dict_items([('Physics', 67), ('Maths', 87)])

## Create a set using range function, convert list to set, set to list

In [109]:
listOfStudents=['Mohan','John','Ramesh','Mohan','John']
print("List of Students:",listOfStudents)
uniqueNames=set(listOfStudents)
print("Set of uniqueNames:",uniqueNames)
 
listOfMarks=[8,7,6,7,8,8,7,6,7,8,9]
print("List of Makrs:",listOfMarks)
setOfMarks=set(listOfMarks)
print("Set of marks:",setOfMarks)

List of Students: ['Mohan', 'John', 'Ramesh', 'Mohan', 'John']
Set of uniqueNames: {'Mohan', 'John', 'Ramesh'}
List of Makrs: [8, 7, 6, 7, 8, 8, 7, 6, 7, 8, 9]
Set of marks: {8, 9, 6, 7}

In [110]:
#union
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'microsoft', 'google', 'cherry', 'banana', 'apple'}

In [111]:
#intersection
A = {2, 3, 5}
B = {1, 3, 5}
print(A.intersection(B))

{3, 5}

In [112]:
#symmetric difference
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}

print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'e', 'b', 'a'}
{'e', 'b', 'a'}
{'a', 'd', 'b', 'c'}
{'e', 'd', 'c'}

In [113]:
#add()
prime_numbers = {2, 3, 5, 7}
prime_numbers.add(11)
print(prime_numbers)

{2, 3, 5, 7, 11}

**remove()** is an inbuilt function in Python programming language that removes a given object from the list. It removes the object from the list. It does not return any value.

**clear()** is used to empty the entire list. this can be used if someone wants an empty list for any other purpose.**

**del()** removes items by index or slices items. you can also remove elements from a list with del statements.**

A **Tuple** is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists that are mutable.

A **Set** is an unordered collection data type that is iterable, mutable and has no duplicate elements. Pythonâ€™s set class represents the mathematical notion of a set.

A **Dictionary** in Python is an unordered collection of data values, used to store data values like a map, which unlike other Data Types that hold only single value as an element, Dictionary holds key:value pair. Key value is provided in the dictionary to make it more optimized.

**Lists** are used to store multiple items in a single variable. They are mutable